.job_alert_container {
  display: grid;
  grid-template-columns: 30% 55%;
  gap: 5rem;
  place-items: center;
}

.job_details_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.app_button {
  display: flex;
  gap: 1rem;
}

.app_button a{
  display: flex;
}

.job_icon{
      margin-top: .2rem;
      margin-right:.2rem;
}

.mob_img_container {
  aspect-ratio: 1/1.3;
  place-items: center;
  display: grid;
  border-radius: 2rem 0 2rem 0;
  border: 1px solid var(--color-primary);
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-bg-varient),
    transparent
  );
}

.mob_img {
  aspect-ratio: 1/1.3;
  overflow: hidden;
  padding: 0.2rem;
  border-radius: 2rem 0 2rem 0;
}

/* Large screens: till 1199px */
@media (min-width: 1025px) and (max-width: 1199px) {

    .job_alert_container {
        grid-template-columns: 35% 55%;
       
      }

      .job_details_container h2{
        font-size: 1.3rem;
      }
      .job_details_container h5{
        font-size: .9rem;
        text-align: center;
      }
}

/* Medium screens: Between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .job_alert_container {
        grid-template-columns: 1fr;
      }
      .mob_img_container {
        width: 40%;
        border-radius: 2rem 0 2rem 0;
      }
      .mob_img {
        padding: 0.2rem;
        border-radius: 2rem 0 2rem 0;
      }
      .job_details_container {
        gap: 1rem;
        
      }
      .app_button {
       font-size: 1rem;
        gap: .8rem;
      }
      .job_details_container h2{
        font-size: 1.5rem;
      }
      .job_details_container h5{
        font-size: .9rem;
        text-align: center;
      }
}
@media (max-width: 767px) {
  .job_alert_container {
    grid-template-columns: 1fr;
  }
  .mob_img_container {
    width: 60%;
    border-radius: 2rem 0 2rem 0;
  }
  .mob_img {
    padding: 0.2rem;
    border-radius: 2rem 0 2rem 0;
  }
  .job_details_container {
    gap: 1rem;
    
  }
  .app_button {
   font-size: .8rem;
    gap: .5rem;
  }
  .job_details_container h2{
    font-size: 1.2rem;
    text-align: center;
  }
  .job_details_container h5{
    font-size: .8rem;
    text-align: center;
  }
}
